/* ----------- based normalize, wrapper ----------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* ----------- player ----------- */

.player-container {
    position: relative;
    width: 400px;
    height: 420px;
    background: rgb(40, 40, 51);
    text-align: center;
    border-radius: 5px;
}

.info-container {
    position: absolute;
    bottom: 500px;
    z-index: -10;
    opacity: 0;
    width: 400px;
    height: 420px;
    color: white;
    overflow: auto;
    padding: 20px;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.info-container.active {
    bottom: 0;
    opacity: 1;
    z-index: 10;
}

.info-close {
    font-size: 20px;
    color:rgb(138, 204, 39);
    cursor: pointer;
}

.info-song-text {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
}

.info-lyrics-head {
    font-size: 20px;
    color: rgb(139, 206, 39);
    padding-bottom: 10px;
}

.info-song-text {
    text-align: left;
}

.album-cover {
    display: inline-block;
    width: 220px;
    height: 220px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(47, 83, 83);
}

.info-volume {
    display: flex;
    justify-content: space-around;
    margin: 5px 0 10px 0;
}

.info, .volume {
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(67deg) brightness(104%) contrast(104%);
    transition: 0.5s;
}

.prev-img:hover, .next-img:hover {
    transform: scale(1.2);
}

.info-button:hover .info, .volume-button:hover .volume {
    transform: scale(1.2);
}

.volume-button {
    position: relative;
}

.volume-button:hover .volume-range {
    opacity: 1;
    z-index: 10;
}

.volume-range {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    z-index: -10;
    opacity: 0;
    left: -50px;
    top: -60px;
    height: 5px;
    border-radius: 10px;
    background: #d3d3d3;
    transform: rotate(-90deg);
    transition: 0.7s;
}

.volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 30px;
    border: 1px solid black;
    background: rgb(139, 206, 39);
    cursor: pointer;
}

.volume-range:hover {
    z-index: 10;
    opacity: 1;
}

.title {
    display: flex;
    flex-direction: column;
    color: white;
}

.band-name {
    font-size: 24px;
    line-height: 1.5;
}

.song-name {
    font-size: 19px;
    color: rgb(190, 190, 190);
}

.song-bar {
    position: relative;
    width: 300px;
    margin: 0px 0px 10px 45px;
}

.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    z-index: 5;
    height: 7px;
    width: 310px;
    border-radius: 10px;
    background: #a09f9f;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 10px;
    border-radius: 3px;
    border: 1px solid rgb(51, 51, 51);
    background: rgb(139, 206, 39);
    cursor: pointer;
}

.current {
    position: absolute;
    font-size: 15px;
    color: rgb(139, 206, 39);
    left: 0;
}

.duration {
    position: absolute;
    font-size: 15px;
    color: rgb(139, 206, 39);
    right: -10px;
}

/* .progress-bar::-webkit-slider-runnable-track {
} */

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.play-img {
    width: 50px;
    height: 50px;
    margin: 0 25px 0 25px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(67deg) brightness(104%) contrast(104%);
    transition: 0.5s;
}

.play-img:hover {
    transform: scale(1.2);
}

.prev-img,
.next-img {
    width: 15px;
    height: 15px;
    filter: invert(50%) sepia(100%) saturate(0%) hue-rotate(67deg) brightness(104%) contrast(104%);
    transition: 0.5s;
}

/* ----------- footer ----------- */

footer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}

.footer-github, .year {
    text-decoration: none;
    color: rgb(138, 204, 39);
    font-size: 20px;
}

.logo-school {
    background-image: url(assets/svg/rs_school_js.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 40px;
    filter: invert(81%) sepia(20%) saturate(1531%) hue-rotate(32deg) brightness(89%) contrast(92%);
}